
// Variables
@import 'variables';

// UIkit
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";


@import "~flatpickr/dist/flatpickr.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/img/background.svg);
}

.flatpickr-input {
  @extend .uk-input;
}

.uk-sticky-fixed{
  z-index: 5;
}

.visibility-hidden {
  visibility: hidden;
}

.name-tag {
  display: inline-block;
  padding: 0px 15px;
  margin-right: 4px;
  line-height: 28px;
  font-size: 0.875rem;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  cursor: default;

  &.clickable {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color;
  }

  &.disabled {
    color: #999;
  }

  &:hover:not(.disabled){
    border-color: #b2b2b2;
  }
}
