
// Variables
@import 'variables';

// UIkit
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";


@import "~flatpickr/dist/flatpickr.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/img/background.svg);
}

.flatpickr-input {
  @extend .uk-input;
}

.uk-sticky-fixed{
  z-index: 0;
}
